<div id="navegacao" class="container">
    <div class="row">
      <div class="col  d-flex">
        <a href="{% url 'estagio:index' %}" class="me-3">
          <div class="d-flex flex-column align-items-center">
            <div id="index" class="s-nav rounded-circle "></div>
            <p class="text-dark">Início</p>
          </div>
        </a>
         
      </div>
    </div>
  </div>
  <style>
    #index {
      background-color: white !important;
      background-image: url(/static/images/icones/bemestaranimal_inicio.png);
      background-size: contain;
    }
  </style>